In [7]:
name = "Tedi"
address,province = "Jl. Cisaat","7413412"
age = 23
scorePython = 85.7
isMarried = False

print("Nama :",name)
print("Alamat :",address)
print("Umur :",age)
print("Nilai Pemrograman :", scorePython)
print("Status Menikah :", isMarried)
print("Provinsi :", province)

Nama : Tedi
Alamat : Jl. Cisaat
Umur : 23
Nilai Pemrograman : 85.7
Status Menikah : False
Provinsi : 7413412

In [6]:
print("Tipe data <name> :",type(name))
print("Tipe data <address> :",type(address))
print("Tipe data <age> :",type(age))
print("Tipe data <scorePython>:",type(scorePython))
print("Tipe data <isMarried> :",type(isMarried))

Tipe data <name> : <class 'str'>
Tipe data <address> : <class 'str'>
Tipe data <age> : <class 'int'>
Tipe data <scorePython>: <class 'float'>
Tipe data <isMarried> : <class 'bool'>

In [ ]:
#Casting / K0nversi Tipe Data 
#1. String ke (int,float,boolean)
strToInt = int(province)
strToFloat = float(province)
strToBool = bool(province)
print(strToInt +2,strToFloat,strToBool, sep="-")

#2.Int ke (str,float,boolean)
intTostr = str(age) 
intToFloat = float(age)
intToBool = bool(age)
print(intTostr, intToFloat, intToBool, sep="-"

#3. Float ke (int, str, boolean)
FloatToStr = str(scorePython)
FoatToInt = int(scorePython)
FloatToBool = bool(scorePython)
print(FloatToInt, FloatToStr, FloatToBool, sep="-"

#4. Boolean ke (int, str, float)
BoolToInt = int(isMarried)
BoolToStr = str(isMarried)
BoolToFloat = float(isMarried)
print(BoolToInt, BoolToStr, BoolToFloat, sep="_"

In [13]:
#Tipe Data basis bilangan (desimal,biner,octal,hexa)

desimal = 500
biner = 0b1010 #10
octal = 0o377 #255
hexa = 0xff #255

print("Nilai desimal:",desimal)
print("Nilai biner:",biner)
print("Nilai octal:",octal)
print ("Nilai hexa:",hexa)

print("Nilai biner dari ",desimal, ":",bin(desimal))
print("Nilai octal dari ",desimal, ":",oct(desimal))
print("Nilai Hexa dari ",desimal, ":",hex(desimal))

Nilai desimal: 500
Nilai biner: 10
Nilai octal: 255
Nilai hexa: 255
Nilai biner dari  500 : 0b111110100
Nilai octal dari  500 : 0o764
Nilai Hexa dari  500 : 0x1f4

In [15]:
city = "BANDUNG"
length = len(city)
print(city[0])
print(length)
print(city[length-1])

B
7
G

In [36]:
#Tipe data Collection
cities = ["Bandung","Sukabumi","Bogor","Jakarta","Medan"]
lengthCities = len(cities)
print(cities)
print(cities[0])
print(cities[lengthCities-1])
print(cities[lengthCities-1][0])
print(cities[lengthCities-1][len(cities[lengthCities-1])-1])
cities[0] = "Bali"
#cities[5] = "Malang" akan menyebabkan error out of range
print(cities)

names = ("Andi","Ferdi","Raihan")
print(names)
print(names[1])
#names[0] = "Dedi" error immutable tuple

studentData = {
    "name" : "Robi",
    "age" : 25,
    "address" : {
        "street" : "Cisaat",
        "number" : 21,
        "province" : "Jawa Barat",
    },
    "isMarried": True,
    "hobbies" : ["Basket Ball", "Football"]
}

print(studentData)
print(studentData["age"])
print(studentData["address"]["province"])
print(studentData["hobbies"][0])

StudentList = [
     {
        "name" : "Robi",
        "age" : 25,
        "address" : {
            "street" : "cisaat",
            "number" : 21,
            "province" : "Jawa Barat",
        },
        "isMarried": True,
        "hobbies" : ["Basket Ball", "Football"]
    },
    
     {
        "name" : "Dedi",
        "age" : 15,
        "address" : {
            "street" : "Bogor",
            "number" : 29,
            "province" : "Jawa Barat",
        },
        "isMarried": True,
        "hobbies" : ["Chess", "Singing"]
}
]
print(studentList[1]["address"]["province"])

['Bandung', 'Sukabumi', 'Bogor', 'Jakarta', 'Medan']
Bandung
Medan
M
n
['Bali', 'Sukabumi', 'Bogor', 'Jakarta', 'Medan']
('Andi', 'Ferdi', 'Raihan')
Ferdi
{'name': 'Robi', 'age': 25, 'address': {'street': 'Cisaat', 'number': 21, 'province': 'Jawa Barat'}, 'isMarried': True, 'hobbies': ['Basket Ball', 'Football']}
25
Jawa Barat
Basket Ball

NameError: name 'studentList' is not defined

In [37]:
#konversi dictionary

list_list = [["name, "astrid"], ["age", 30], ["status", True]]
dictListStudent = dict(list_list)
print(dictListStudent)

list_Tuple = [("name", "maysaroh"), ("address", "Sukabumi")]
dictTupleStudent = dict(list_tuple)
print(dicTupleStudent)

Tuple_list = [("name", "tiger"), ("type", "Mamalia")]
dictTupleAnimal = dict(tuple_list)
print(dicTupleAnimal)

Tuple_Tuple = [("name", "crocodile"), ("type", "Reptile")]
dictTupleAnimal = dict(tuple_tuple)
print(dicTupleAnimal)

keys = ["vehicle", "Brand", "Cc"]
values = ["car", "BMW", "2500"]
car = dict(zip(keys,values))
print(car)

SyntaxError: unterminated string literal (detected at line 3) (3657539812.py, line 3)